In [1]:
import pandas as pd

In [5]:
crypto_dataset=pd.read_csv("coin_Bitcoin.csv")

In [6]:
crypto_dataset

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,BTC,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,BTC,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,BTC,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,BTC,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,BTC,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [7]:
crypto_dataset=pd.read_csv("coin_Dogecoin.csv")

In [8]:
crypto_dataset

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Dogecoin,DOGE,2013-12-16 23:59:59,0.000866,0.000150,0.000299,0.000205,0.000000e+00,1.509085e+06
1,2,Dogecoin,DOGE,2013-12-17 23:59:59,0.000289,0.000116,0.000207,0.000269,0.000000e+00,2.169688e+06
2,3,Dogecoin,DOGE,2013-12-18 23:59:59,0.000362,0.000205,0.000267,0.000362,0.000000e+00,3.188943e+06
3,4,Dogecoin,DOGE,2013-12-19 23:59:59,0.001520,0.000328,0.000395,0.001162,0.000000e+00,1.115034e+07
4,5,Dogecoin,DOGE,2013-12-20 23:59:59,0.001143,0.000662,0.001143,0.000704,0.000000e+00,7.284337e+06
...,...,...,...,...,...,...,...,...,...,...
2755,2756,Dogecoin,DOGE,2021-07-02 23:59:59,0.247997,0.238848,0.243982,0.245264,1.321471e+09,3.194925e+10
2756,2757,Dogecoin,DOGE,2021-07-03 23:59:59,0.250214,0.242454,0.245106,0.246411,9.170158e+08,3.210491e+10
2757,2758,Dogecoin,DOGE,2021-07-04 23:59:59,0.252567,0.243425,0.246425,0.246483,9.735115e+08,3.211767e+10
2758,2759,Dogecoin,DOGE,2021-07-05 23:59:59,0.246419,0.227838,0.246419,0.231614,1.267949e+09,3.018344e+10
2759,2760,Dogecoin,DOGE,2021-07-06 23:59:59,0.241910,0.229842,0.231216,0.234422,1.265920e+09,3.055252e+10

In [9]:
crypto_dataset=pd.read_csv("coin_EOS.csv")

In [10]:
crypto_dataset

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,EOS,EOS,2017-07-02 23:59:59,2.877510,0.822648,0.996521,2.710050,3.204520e+08,0.000000e+00
1,2,EOS,EOS,2017-07-03 23:59:59,5.395970,2.632310,2.717390,4.086640,4.149500e+08,6.549307e+08
2,3,EOS,EOS,2017-07-04 23:59:59,4.191240,2.933450,4.098010,3.372000,2.185590e+08,5.501552e+08
3,4,EOS,EOS,2017-07-05 23:59:59,3.523500,2.730130,3.356000,3.003230,1.243390e+08,5.006264e+08
4,5,EOS,EOS,2017-07-06 23:59:59,3.867470,3.007830,3.014260,3.361330,1.774630e+08,5.683615e+08
...,...,...,...,...,...,...,...,...,...,...
1461,1462,EOS,EOS,2021-07-02 23:59:59,4.000508,3.751986,3.930561,3.934325,1.014258e+09,3.756672e+09
1462,1463,EOS,EOS,2021-07-03 23:59:59,4.060837,3.859586,3.926595,4.046421,7.302703e+08,3.863820e+09
1463,1464,EOS,EOS,2021-07-04 23:59:59,4.181861,3.952532,4.048645,4.059930,8.086025e+08,3.876834e+09
1464,1465,EOS,EOS,2021-07-05 23:59:59,4.061888,3.773130,4.061888,3.819266,8.004033e+08,3.647131e+09
1465,1466,EOS,EOS,2021-07-06 23:59:59,4.004299,3.797596,3.814236,3.882325,6.967875e+08,3.707457e+09